<h1>Opret bruger</h1>

<div class="col-md-8 order-md-1" ng-controller="CreateUserController">
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="userId">Bruger-ID</label>
                <input type="number" class="form-control" id="userId" ng-model="newUser.oprId" value="" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cprNumber">CPR-nummer</label>
                <input type="text" class="form-control" id="cprNumber" ng-model="newUser.cpr" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="userName">Brugernavn</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="userName" ng-model="newUser.oprNavn" required>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="ini">Initialer</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="ini" ng-model="newUser.ini" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Initialer skal udfyldes!
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="role">Rolle</label>
                <select ng-model="newUser.rolle" ng-options="x for x in roles" id="role" required>
                </select>
            </div>
        </div>
        <div class="row">
            <label for="status">Status</label>
            <div class="input-group">
                <input type="checkbox" class="form-control" id="status" ng-model="newUser.status" ng-true-value="true" ng-false-value="false" required>
                <div class="invalid-feedback" style="...">
                    Status skal vælges!
                </div>
            </div>
        </div>
        <button id="submit" class="btn btn-primary btn-lg btn-block" ng-click="submitCreate()" type="submit">Opret</button>
    </form>
    {{error}}
</div>