<h1>Rediger bruger</h1>
<div class="col-md-8 order-md-1" ng-controller="editUserController">
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="oldId">ID</label>
                <div id="oldId">
                    <h3>{{editedUser.oprId}}</h3>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cpr">CPR-nummer</label>
                <div id="cpr">
                    <h3>{{editedUser.cpr}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="userName">Brugernavn</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="userName" ng-model="editedUser.oprNavn" required>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="ini">Initialer</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="ini" ng-model="editedUser.ini" required>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="rolle">Rolle</label>
                <select ng-model="editedUser.rolle" ng-options="x for x in roles" id="rolle" required>
                </select>
            </div>
        </div>
        <button id="submit" class="btn btn-primary btn-lg btn-block" ng-click="submitEdit()" type="submit">Gem</button>
    </form>
    {{error}}
</div>